@import "./bootstrap.min.css";
@import "./font-awesome.min.css";
@import "./ionicons.min.css";
@import "./custom.css";
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: 'ninestudio';
    src: url(../public/fonts/ninestudio.eot);
    src: url(../public/fonts/ninestudio.eot?#iefix) format("embedded-opentype"), url(../public/fonts/ninestudio.woff) format("woff"), url(../public/fonts/ninestudio.ttf) format("truetype"), url(../public/fonts/ninestudio.svg#star) format("svg");
    font-weight: 400;
    font-style: normal
}

[class^="ns-"], [class*=" ns-"] {
    font-family: 'ninestudio' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ns-d-glasses:before{
	content:"\e900"
}
.ns-award:before{
	content:"\e901"
}
.ns-cinema-screen:before{
	content:"\e902"
}
.ns-film-strip:before{
	content:"\e903"
}
.ns-film:before{
	content:"\e904"
}
.ns-illumination:before{
	content:"\e905"
}
.ns-picture:before{
	content:"\e906"
}
.ns-popcorn:before{
	content:"\e907"
}
.ns-projector-screen:before{
	content:"\e908"
}
.ns-seats:before{
	content:"\e909"
}
.ns-television:before{
	content:"\e90a"
}
.ns-theater:before{
	content:"\e90b"
}
.ns-tickets:before{
	content:"\e90c"
}
.ns-tripod:before{
	content:"\e90d"
}
.ns-video-camera:before{
	content:"\e90e"
}
